.el-pagination {
  padding: 8px 15px;
  float: right;
}
.body{
  display: flex;
  flex-direction: column;
  height:100%;
}
/*header*/
header{
  height: 50px;
  background: deepskyblue;
}
/*section*/
section{
  flex: 1;
  display: flex;
  overflow-y: hidden;
}
/*aside*/
aside{
  width: 15%;
  background: #333;
}
/*main*/
main{
  width: 85%;
  background: #ecf0f5;
  display: flex;
  flex-direction: column;
}
.m_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
}
.m_header h1{
  font-size: 22px;
  color: #000;
  font-weight: 100;
}
.m_r .m_a{
  vertical-align: middle;
  color: #000;
}
.m_r img{
  display: inline-block;
  width: 12px;
  height: 9px;
}
.wanchen{
  display: inline-block;
  width: 45px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #00a65a;
  color: #fff;
  border-radius:4px;
  font-size: 12px;
}
.xiugai{
  display: inline-block;
  width: 45px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #3c8dbc;
  color: #fff;
  border-radius:4px;
  font-size: 12px;
}
.del{
  display: inline-block;
  width: 45px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #dd4b39;
  color: #fff;
  border-radius:4px;
  font-size: 12px;
}
.m_r{
  font-size: 12px;
  color: #777777;
  line-height: 23px;
}
.con_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
}
.con_header .con_hea_a{
  font-size: 12px;
  color: #fff;
  width: 58px;
  height: 25px;
  border-radius:3px;
  background: #00a65a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
}
.con_header a img{
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 3px;
}
.content{
  background: #fff;
  background: #fff;
  border-radius:2px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: inset 1px 3px 2px #d2d6de;
}
.con_search{
  display: flex;
  height: 28px;
  margin-right: 11px;
}
.con_search input{
  font-size: 12px;
  color: #999999;
  width: 115px;
  height: 28px;
  border: 1px solid #d2d6de;
  border-right:none;
  text-indent: 5px;
}
.con_search .con_sea_a{
  width: 31px;
  height: 28px;
  border: 1px solid #d2d6de;
  background: #f4f4f4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con_search a img{
  width: 12px;
  height: 12px;
  display: inline-block;
}
.main_con table{

}
.main_con table tr:first-child{
  font-weight: 600;
}
.main_con table td{
  padding-left: 8px;
  border-top: 1px solid #f4f4f4;
}
.main_con table tr:hover td{
  background: skyblue;
  transition: all 0.5s ease;
}

